*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.header {
  padding: 20px 0px;
  font-size: 20px;
  .wrapper {
    margin: 0 auto;
    width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .nav {
      display: flex;
      list-style: none;
      gap: 40px;
    }

    .logo {
      display: flex;
      gap: 10px;
      align-items: center;
      font-size: 32px !important;
      font-weight: 700;
      margin-left: 90px;
      margin-right: 90px;
    }
  }
}

.slider {
  background-color: #2b2a2a;
  padding-top: 150px;
  padding-bottom: 50px;
  padding-left: 235px;
  padding-right: 235px;
}
#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 500px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
.swiper-wrapper {
  margin-bottom: 70px;
}
.swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  background-color: #ffbf33;
}

.catalog {
  margin-top: 75px;

  .wrapper {
    margin: 0 auto;
    width: 1400px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .search {
      align-self: flex-end;

      .search-field {
        height: 40px;
        width: 300px;
        border-radius: 30px;
        border: 1px solid #9f9f9f;
        background-color: #ededed;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 5px;
        padding-left: 10px;

        .icon-search {
          svg {
            width: 26px;
            height: 26px;
            stroke: #9f9f9f;
          }
        }

        input {
          width: 100%;
          height: 100%;
          background: none;
          border: none;
          outline: none;
          font-size: 16px;
        }
      }
    }

    .products {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 40px;
    }
  }
}
